.upload-form {
    border: 1px solid #000;
    padding: 20px;
    border-radius: 10px;
}
ul.custom-menu {
    list-style: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

ul.custom-menu li {}

ul.custom-menu li a {
    background-color: #4545b65e;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin: 2px 0px;
    color: #222;
}
